@* @model CUT_Burger.Models.User *@
@* *@
@* @{ *@
@*     ViewBag.Title = "Check Status"; *@
@*     Layout = "_Layout"; *@
@* } *@
@* *@
@* <!DOCTYPE html> *@
@* <html lang="en"> *@
@* <head> *@
@*     <meta charset="UTF-8"> *@
@*     <meta name="viewport" content="width=device-width, initial-scale=1.0"> *@
@*     <title>Welcome - Burger App</title> *@
@*     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> *@
@* </head> *@
@* <body> *@
@* <div class="container mt-5"> *@
@*     <div class="row justify-content-center"> *@
@*         <div class="col-md-6"> *@
@*             <h2 class="text-center">Welcome to CUT_Burger</h2> *@
@*             <form asp-action="CheckAdminStatus" method="post"> *@
@*                 <div class="form-group"> *@
@*                     <label for="isAdmin">Are you an admin?</label> *@
@*                     <select id="isAdmin" name="isAdmin" class="form-control"> *@
@*                         <option value="true">Yes</option> *@
@*                         <option value="false">No</option> *@
@*                     </select> *@
@*                 </div> *@
@*                 <button type="submit" class="btn btn-primary btn-block">Submit</button> *@
@*             </form> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> *@
@* $1$ <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script> #1# *@
@* <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> *@
@* </body> *@
@* </html>å *@
